* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background: #1C1B1A;
}

/*모바일*/
.wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

/* 모바일 헤더 부분*/
.mobile_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    height: 56px;
    align-self: stretch;
}

.mobile_title {
    color:#FFFFFF;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 130%; /* 26px */
    letter-spacing: -0.6px;
}
.mobile_back_btn{
    border: none;
    background: none;
}
.mobile_menu_btn{
    border: none;
    background: none;
}

/*container 부분*/
.container {
    display: flex;
    width: 342px;
    padding-bottom: 36px;
    flex-direction: column;
    align-items: flex-start;
    gap: 36px;
}

.step_text {
    text-align: center;
    color: #FFFFFF;
}

.step_title {
    text-align: center;
    color: #FFFFFF;
}

.mobile_step {
    display: flex;
    padding: 24px 0;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    align-self: stretch;
}

/*step_group 부분*/
.orange_line {
    width: 80px;
    height: 4px;
    background-color: #FF7710;
}

.gray_line {
    width: 80px;
    height: 4px;
    background: #D9D9D9;
}

.m_step_group{
    width: 256px;
    height: 16px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.step_line {
    display: inline-flex;
}

.steps {
    display: inline-flex;
    gap: 64px;
    position: absolute;
}

/*input_form 부분*/
.input_form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 36px;
    align-self: stretch;
}

.input_group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-gap-lg, 12px);
    align-self: stretch;
}

.input_title{
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;
}

.desc {
    align-self: stretch;
    color:#8C827D;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: -0.36px;
}

.desc .orange_text{
    color:#FF7710;
}

input {
    display: flex;
    padding: 12px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    border-radius: 9999px;
    background: #FFFFFF;
    border: none;
}

/*파트 선택 부분*/
.part_button{
    display: flex;
    align-items: center;
    gap: 8px;
    align-self: stretch;
}

.part_btn {
    display: flex;
    height: 48px;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    border-radius: 9999px;
    background:#FFF;
    border: none;
    color: #000000;
    text-align: center;
}

/*선택된 버튼 주황색*/
.part_btn.active {
    border-radius: 9999px;
    background: #FF7710;
    color: #FFFFFF;
}

/* 6. 다음으로 버튼 */
.next_btn {
    display: flex;
    width: 342px;
    height: 56px;
    padding: 0 99px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 88px;
    background:#FF7710;
    color:#FFFFFF;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
}
/*footer 부분*/
.footer{
    display: flex;
    padding: 32px 24px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    background: #292625;
}

.information {
    align-self: stretch;
    display: flex;
    width: 206px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.text1{
    color:#D1CFCD;
    font-family: Pretendard;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: -0.36px;
}

.text2 {
    color:#D1CFCD;
    font-family: Pretendard;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 104%;
    letter-spacing: -0.7px;
}

.icon {
    display: flex;
    align-items: center;
    gap: 12px;
}

.desktop_logo, 
.desktop_menu, 
.desktop-form-title,
.desktop_header,
.desktop_sidebar,
.desktop_step_title,
.desktop_text_area { 
    display: none; 
}

/* 데스크탑 (990px 초과) */
@media (min-width: 991px) {
    .mobile_back_btn,
    .mobile_title,
    .mobile_menu_btn,
    .mobile_step,
    .mobile_header,
    .input_form > .next-btn,
    .mobile_text_area { 
        display: none; 
    }

    .desktop_logo, 
    .desktop_menu, 
    .desktop-form-title,
    .desktop_header,
    .desktop_sidebar,
    .desktop_step_title,
    .desktop_text_area { 
        display: flex; 
    }

    .desktop_header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 8%;
        background: #1C1B1A;
    }

    .desktop_logo {
        display: flex;
        padding: 0 80px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .desktop_menu ul {
        display: flex;
        gap: 30px;
        list-style: none;
        color: #FFFFFF;
        font-size: 14px;
    }
    
    .container {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        display: block;
    }

    .desktop_text_area{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        gap: 60px;
        width: 100%;
    }

    
    /* aside 부분*/
    .sidebar {
        width: 300px;
        display: flex;
        flex-direction: column;
        padding: 40px 60px;
    }

    .d_step_line_dot{
        position: relative;
        display: flex;
        justify-content: center;
        width: 24px;
        height: 240px;
        margin: 0;
    }

    .d_step_group{
        display: flex;
    }

    .step_line {
        display: flex;
        flex-direction: column;
    }

    .orange_line, .gray_line {
        width: 2px;
        flex: 1;
    }

    .orange_line { 
        background-color: #FF7710; 
    }
    .gray_line { 
        background-color: #D9D9D9; 
    }

    .steps {
        position: absolute;
        height: 100%;
        display: flex;
        gap: 55px;
        flex-direction: column;
        align-items: center;
    }

    .steps img {
        width: 20px;
        height: 20px;
    }

    .d_step_text {
        margin-left: 10px;
        list-style: none;
        color: #FFFFFF;
    }
    .d_step_text li{
        margin-bottom: 50px;
    }

    .gray_text{
        color: #8C827D;
    }

    .back_btn,
    .d_next_btn {
        width: 100%;
        height: 50px;
        border-radius: 30px;
        border: none;
        margin-top: 20px;
    }

    .back_btn {
        background: #FFFFFF; 
        color: #000000; 
    }
    .d_next_btn {
        background: #FF7710;
        color: #FFFFFF; 
    }
    
    .input_form{
        width: 900px;
        flex: 1;
        display: flex;
        flex-direction: column;
        max-width: 800px;
    }

    .desktop_step_title{
        margin: 40px 0 120px 0;
        display: inline;
    }

    .step_text{
        text-align: left;
    }

    .input_group {
        width: 100%;
        display: flex;
        flex-direction: row; 
        align-items: flex-start;
        gap: 60px;
        margin-bottom: 40px;
    }
    
    .input_title {
        width: 200px;
    }

    .input_text {
        width: 400px;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
    }

    .desc {
        margin-top: 8px;
        font-size: 12px;
        color: #A8A4A2;
    }
    .part_button {
        width: 100%;
    }
}